absl-py
aiohappyeyeballs
aiohttp
aiosignal
attrs
certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
frozenlist
fsspec
grpcio
h5py
idna
imageio
iniconfig
jinja2
kiwisolver
lazy-loader
lightning
lightning-utilities
markdown
markupsafe
matplotlib
mpmath
multidict
networkx
numpy
packaging
pandas
pillow
platformdirs
pluggy
pooch
propcache
protobuf
pygments
pyparsing
pytest
python-dateutil
pytorch-lightning
pyyaml
requests
scikit-image
scipy
seaborn
setuptools
six
sympy
tensorboard
tensorboard-data-server
tifffile
torch
torchmetrics
torchvision
tqdm
typing-extensions
urllib3
werkzeug
yarl
zernike
